.carousel {
  position: relative;
  overflow: hidden;
}

.carouselViewport {
  overflow: hidden;
  width: 100%;
  margin-right: 0;
  overflow-x: auto; /* allow horizontal scroll */
  -webkit-overflow-scrolling: touch; /* momentum scroll on iOS */
  scroll-snap-type: x mandatory; /* auto‑snap to items */
}

.carouselTrack {
  display: flex;
}

.carouselItem {
  flex: 0 0 100%; /* one slide per “page” */
  scroll-snap-align: start; /* snap at start of each item */
}

.carousel > button {
  display: none;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .carousel {
    display: none;
  }
}

@media (min-width: 1024px) {
  .carousel {
    display: none;
  }
}
