@media (min-width: 576px) {
  .heroTitle {
    font-size: 3.5rem;
  }

  .heroSubtitle {
    font-size: 1.3rem;
  }

  .heroImage {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .heroTitle {
    font-size: 4rem;
  }

  .heroImage {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .heroSection {
    flex-direction: row;
    align-items: flex-start;
  }

  .heroContent {
    width: 100%;
  }

  .heroTitle {
    width: 100%;
    font-size: 5rem;
  }

  .heroText {
    width: 80%;
  }

  .heroImage {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .heroContent {
    width: 100%;
  }

  .heroTitle {
    font-size: 5rem;
  }

  .heroText {
    width: 80%;
  }

  .heroImage {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .heroContent {
    width: 100%;
  }

  .heroTitle {
    font-size: 6rem;
  }

  .heroText {
    width: 80%;
  }

  .heroImage {
    width: 100%;
  }
}
