:root {
  --primary-color: #0d453a;
  --secondary-color: #fd6f00;
  --accent-color: #ff904b;
  --color-background: #ffffff;
  --color-text: #202020;
  --text-headlines: 'Josefin Sans', sans-serif;
  --text-body: 'Raleway', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles (mobile first) */
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--text-body);
  margin: 40px 16px 80px 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--text-headlines);
}

h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0; /* Removes default padding as well */
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.sectionTitle {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

/* ACCESSIBILITY */
/* Screen-reader-only content */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    margin: 50px 32px 100px 32px;
  }

  .logo {
    height: 2.2rem;
    margin-bottom: 0.4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    margin: 80px 64px 160px 64px;
  }

  .logo {
    height: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    margin: 100px 128px 200px 128px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    margin: 120px 180px 240px 180px;
  }
}
