/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    margin: 50px 32px 100px 32px;
  }

  .logo {
    height: 2.2rem;
    margin-bottom: 0.4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    margin: 80px 64px 160px 64px;
  }

  .logo {
    height: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    margin: 100px 128px 200px 128px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    margin: 120px 180px 240px 180px;
  }
}
