:root {
  --primary-color: #0d453a;
  --secondary-color: #fd6f00;
  --accent-color: #ff904b;
  --color-background: #ffffff;
  --color-text: #202020;
  --text-headlines: 'Josefin Sans', sans-serif;
  --text-body: 'Raleway', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles (mobile first) */
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--text-body);
  margin: 40px 16px 80px 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--text-headlines);
}

h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0; /* Removes default padding as well */
}

li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.sectionTitle {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

/* ACCESSIBILITY */
/* Screen-reader-only content */
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* HERO SECTION */
.logo {
  height: 1.7rem;
  margin-bottom: 0.2rem;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  font-size: 3rem;
  line-height: 0.9;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.heroSubtitle {
  font-size: 1.2rem;
  margin: 0;
}

.heroText {
  width: 100%;
}

.heroImage {
  width: 100%;
  height: auto;
}

/* SOCIAL LINKS */
.socialContainer {
  margin-top: 2rem;
}

.socialIcons {
  display: flex;
  flex-direction: row;
}

.socialIcon {
  width: 32px;
  height: auto;
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

/* SKILL SECTION */
.skillContainer,
.skillTitle,
.skillList {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.skillList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  list-style-type: none;
  padding: 0;
}

.divider {
  width: 200px;
  height: 0.5px;
  background-color: var(--primary-color);
  border-radius: 2px;
  margin: 1rem;
}

/* PROJECT SECTION */
.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.tabButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.tabButton {
  background-color: var(--color-background);
  color: var(--primary-color);
  border: 1px solid var(--primary-color); /* Remove later */
  padding: 0.5rem 1rem;
  width: 30vw;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tabButton:active {
  background-color: var(--primary-color);
  color: var(--color-background);
  transform: scale(0.95);
}
.tabButton:hover {
  background-color: var(--primary-color);
  color: var(--color-background);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    margin: 50px 32px 100px 32px;
  }

  .logo {
    height: 2.2rem;
    margin-bottom: 0.4rem;
  }

  .heroTitle {
    font-size: 3rem;
  }

  .heroSubtitle {
    font-size: 1.3rem;
  }

  .heroImage {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    margin: 80px 64px 160px 64px;
  }

  .heroTitle {
    font-size: 4rem;
  }

  .logo {
    height: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    margin: 100px 128px 200px 128px;
  }

  .heroContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .heroTitle {
    width: 50%;
    font-size: 5rem;
  }

  .heroText {
    width: 70%;
  }

  .heroImage {
    width: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    margin: 120px 180px 240px 180px;
  }

  .heroTitle {
    font-size: 6rem;
  }

  .skillContainer {
    flex-direction: column;
  }
  .skillSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
  }

  /* This transforms the dividers from horizontal to vertical */
  .divider {
    width: 1px;
    height: 200px;
    margin: 0 1rem;
  }
  .skillTitle {
    font-size: 5rem;
  }
}
